<!--cv.page.html file code for left side menu-->
<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>CV</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
   <!--Adding a new card with list to show the education-->
    <ion-card>
        <ion-card-content>

          <ion-list-header>Education</ion-list-header>
            <ion-list>
                <ion-item >
                    <p padding><strong>Bachelor’s Degree in Programme in Business Information Technology</strong><br>
                    <small>2016 - 2021</small><br>
                    <em>Laurea University of Applied Sciences</em></p>
                </ion-item>
  
                <ion-item>
                    <p padding><strong>Bachelor’s Degree in Design</strong><br>
                    <small>2010 - 2014</small><br>
                    <em>Savonia University of Applied Sciences</em></p>
                </ion-item>
  </ion-list>
  </ion-card-content>
      </ion-card>

      <!--And another to show career-->
    <ion-card>
        <ion-card-content>

          <ion-list-header>Career</ion-list-header>
            <ion-list>
                <ion-item >
                    <p padding><strong>Piirre Collective osk</strong><br>
                    <small>2013 - 2017</small><br>
                    <em>Co-founder / Visual Designer</em></p>
                </ion-item>
  
                <ion-item>
                    <p padding><strong>Lorem ipsum</strong><br>
                    <small>2010 - 2014</small><br>
                    <em>Nifty Title</em></p>
                </ion-item>
  </ion-list>
  </ion-card-content>
      </ion-card>
  </ion-content>
