<!--project.page.html file code for left side menu-->
<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Project work</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
  <!--Adding a new card with list to show the projects-->
  <ion-card>
      <ion-card-content>

        <ion-list-header>Latest projects</ion-list-header>
          <ion-list>
              <ion-item >
                  <p padding><strong>RateToSalary - Web App</strong><br>
                  <small>Back-End Programmer</small><br>
                  <em>SKILLS: PHP, MySQL, HTML5, CSS, Bootstrap</em></p>
              </ion-item>
              <ion-item >
                  <p padding><strong>HAL - Mobile App Development</strong><br>
                  <small>Project Coordinator</small><br>
                  <em>SKILLS: Ionic, Cordova, Java, Javascript, HTML5, CSSp</em></p>
              </ion-item>
              <ion-item >
                  <p padding><strong>Easy Inventory - Web App</strong><br>
                  <small>Programmer</small><br>
                  <em>SKILLS: PHP, MySQL, HTML5, CSS, Bootstrap</em></p>
              </ion-item>
                   
</ion-list>
</ion-card-content>
    </ion-card>
  </ion-content>