<!--cv.page.html file code for left side menu-->
<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Extra Curriculum</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
   <!--We are going to add a card element with an image-->
    <ion-card>
        <img src="img/mountain.png"/>
        <ion-card-content>
          <ion-card-title>
            My Hobbies
            </ion-card-title>
         <p>I enjoy hobbies which demand strong motivation and problem solving skills like bouldering. 
           Teamwork is a natural part of my hobby as we plan the track and aim to be better together.</p>
    
</ion-card-content>
      </ion-card>
<!--Another card element for certficates and licenses - basic text-list-->
      <ion-card>
          <ion-card-content>
  
            <ion-list-header>Certifications</ion-list-header>
              <ion-list>
                  <ion-item >
                      <p padding><strong>Beginner Level Java Certificate</strong><br>
                      <small>2019</small><br>
                      <em>Lorem ipsum</em></p>
                  </ion-item>
    
                  <ion-item>
                      <p padding><strong>HubSpot Academy Certificate - Inbound marketing</strong><br>
                      <small>2018</small><br>
                      <em>Lorem ipsum</em></p>
                  </ion-item>
    </ion-list>
    </ion-card-content>
        </ion-card>
  </ion-content>
